.App {
  /*background-color: #F1F1F6;*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
/*
  background-image: url(./Images/mona-eendra-vC8wj_Kphak-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: start;
  background-size: cover;
  background-image: url(./Images/annie-spratt-i5MW_nrHi1k-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}
