.projects {
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    
}

.projects__item {
    list-style-type: none;
    display: flex;
    border: 1px solid black;
    
}

.projects__title {
  text-align: center;
  margin-top: 0;
}

.projects__carusel-pic {
    width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: 1s ease;
}

.projects__carusel-pic:hover {
    transform: scale(1.2);
    transition: 1s ease;
}

.projects__carusel-project-name {
    text-align: center;
}