.about {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about__text-continer {
   display: flex;
   flex-direction: column;
   max-width: 750px; 
   margin: auto;
}

.about__title {
    text-align: center;
    margin-top: 0;
}

.about__text {
    margin-bottom: 0;
}